.footer {
  background-color: #004aad;
  color: white;
  text-align: center;
  padding: 15px;
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  bottom: 0;
  width: 100%;
}
