<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <title>Reset Password</title>-->
<!--    <meta charset="UTF-8"/>-->
<!--    <style>-->
<!--        body { font-family: Arial; background: #f4f4f4; }-->
<!--        .container {-->
<!--          width: 400px; margin: 50px auto; background: white; padding: 20px;-->
<!--          border-radius: 10px; box-shadow: 0 0 10px rgba(0,0,0,0.1);-->
<!--        }-->
<!--        input, button { width: 100%; padding: 10px; margin: 10px 0; }-->
<!--        button { background: #004aad; color: white; border: none; cursor: pointer; }-->
<!--    </style>-->
<!--</head>-->
<!--<body>-->
<!--<div class="container">-->
<!--    <h2>Reset Password</h2>-->
<!--    <form action="/api/public/reset-password" method="post" onsubmit="resetPassword(event)">-->
<!--        <input type="hidden" id="email" th:value="${param.email}">-->
<!--        <input type="text" id="otp" placeholder="Enter OTP" required/>-->
<!--        <input type="password" id="newPassword" placeholder="Enter new password" required/>-->
<!--        <button type="submit">Reset Password</button>-->
<!--    </form>-->
<!--    <p id="message"></p>-->
<!--</div>-->

<!--<script>-->
<!--    const email = new URLSearchParams(window.location.search).get("email");-->
<!--    document.getElementById("email").value = email;-->

<!--    async function resetPassword(e) {-->
<!--      e.preventDefault();-->
<!--      const otp = document.getElementById("otp").value;-->
<!--      const newPassword = document.getElementById("newPassword").value;-->
<!--      const res = await fetch("/api/public/reset-password", {-->
<!--        method: "POST",-->
<!--        headers: { "Content-Type": "application/json" },-->
<!--        body: JSON.stringify({ email, otp, newPassword })-->
<!--      });-->
<!--      const data = await res.json();-->
<!--      document.getElementById("message").innerText = data.message || data.response || "Password reset done!";-->
<!--      if (res.ok) {-->
<!--        setTimeout(() => alert("Password changed successfully!"), 2000);-->
<!--      }-->
<!--    }-->
<!--</script>-->
<!--</body>-->
<!--</html>-->
